/* ОБЩИЕ СТИЛИ */
body{
    padding: 0;
}
.logout{
    padding: 8px 0;
}
.toolbar{
    padding: 0;
    margin: 0 0 20px;
}
#workplace{
    width: 100%;
    height: auto;
    background-color: transparent;
    position: relative;
}
/* СТИЛИ ФОРМЫ ДОБАВЛЕИЯ НОВОГО ТЕСТА */
.add-new-test--form-header .form-control.add-new-test--date{
    width: 50px;
    text-align: center;
}
.add-new-test--form-header .form-control.add-new-test--date-year{
    width: 60px;
    text-align: center;
}
.add-new-test--category-label{
    padding: 0 10px 0 30px;
}
.add-new-test--form-header{
    padding: 3px;
    border-radius: 5px;
}
.add-new-test--form-header .form-control{
    display: inline;
    width: auto;
}
#add-new-test--test-name{
    width: 50%;
}
.add-new-test--aside-toolbar{
    position: absolute;
    bottom: 20px;
    right: 0;
}
.add-new-test--questions-block-wrap{
    background-color: #F7F4DC;
    margin: 20px 0 20px;
    padding: 3px;
    border-radius: 5px;
    border: 1px solid #FFF9CB;
}
.add-new-test--questions-block-name{
    /*margin: 0 0 15px;*/
    width: 70%;
    display: inline-block;
}
.add-new-test--questions-block--question-wrap{
    margin: 15px 0;
}
.add-new-test--questions-block--question-name{
    resize: vertical;
}

.add-new-test--questions-block--question-img,
.add-new-test--questions-block--question-answer-img{
    width: 37px;
    height: 37px;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    margin: 0 10px 0 5px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: url(../img/image-add.png);
}
.add-new-test--questions-block-toolbar{
    text-align: right;
}
.add-new-test--questions-block-menu{
    float: right;
}
.add-new-test--questions-block--question-answer{
    margin: 5px 0;
}
.add-new-test--questions-block--question-answer input[type="text"]{
    width: 60%;
    display: inline-block;
}
.add-new-test--questions-block--question-add-answer{
    margin: 15px 0 0;
}
.tests-list-item-start-date-input,
.tests-list-item-end-date-input,
.list-edit-field{
    display: none;
}

.tests-list-item-start-date-input,
.tests-list-item-end-date-input{
    width: 100px;
}

.tests-list-item-start-date-label,
.tests-list-item-end-date-label,
.list-item-label{
    width:100%;
    height: 100%;
    padding: 15px 0 15px 21px;
    margin: -8px;
    font-weight: 400;
}


/*  РЕЗУЛЬТАТЫ ТЕСТИРОВАНИЯ  */
.table > thead > tr > th.test-results-question{
    padding: 0;
}
.test-results-question > span{
    display: block;
    height: 38px;
    line-height: 38px;
    display: inline-block;
    width: 100%;
    /*text-align: center;*/
    padding: 0 0 0 5px;
}
.tooltip-inner div{
    margin: 5px;
}
.tooltip-inner img{
    max-width: 90%;
    margin: 5px 0;
}

.test-results-canvas-holder{
    width: 80%;
    padding-top: 50%;
    position: relative;
    margin: auto;
}
.test-results-canvas-holder > div{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}